

body{
  height: 95vh;
  width: 100%;
  background: url(../img/school.jpg) no-repeat center;
  background-size: cover;
}

.grid{
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid2{
  display: flex;
  justify-content: space-around;
  margin-left: 90px;
  margin-right: 90px;
}

@media screen and (max-width:720px){
  html{
    min-width: 100%;
    height: 1200px;
  }

  body{
    min-height: 100vh;
  }

  .grid2{
    width: calc(100% - 30px);
    display: block;
    justify-content: space-between;

  }

  .s{
    margin-top: 1rem;
    height: 180px;
    margin-left: 80px;
    margin-right: 80px;
  }

}

@media screen and (max-width:500px){
  .s{
    margin-left: 20px;
    margin-right: 20px;
  }
}

.grid3{
  background-color: #6e1398;
  border: none;
  width: 500px;
  height: 300px;
  box-shadow: 7px 7px 15px #592A08;
}

.s{
  border-radius: 10px;
  margin-right: 30px;


}

.s img{
  width: 100%;
  height: 100%;
}

.quinto{
  background-color: purple;
}

.sexto{
  background-color: blue;
}

.septimo{
  background-color: red;
}

.copyright{
  display: block;
  justify-content: flex-end;
  text-align: right;
  margin-right: 2rem;
}

.form-label{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.espaciado{
  padding-bottom: 20px;
}
