

body{
  height: 95vh;
  width: 100%;
  background-color: violet;
}

input{
  width: 400px;
  height: 30px;
  border-radius: 3%;
  border: none;

}

button{
  width: 400px;
  height: 30px;
  height: 40px;
}

.grid{
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}





.grid3{
  background-color: #6e1398;
  border: none;
  width: 500px;
  height: 300px;
  box-shadow: 7px 7px 15px #592A08;
  padding: 0px;
}

.s{
  border-radius: 10px;
}

.s img{
  width: 100%;
  height: 100%;
}

.quinto{
  background-color: purple;
}

.sexto{
  background-color: blue;
}

.septimo{
  background-color: red;
}

.copyright{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 2rem;
}

.form-label{
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.espaciado{
  padding-bottom: 30px;

}


@media screen and (max-width:720px){


  .grid2{
    display: block;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .es{
    height: 200px;
    margin-bottom: 20px;

  }

}

@media screen and (max-width:510px){
  input{
    width: 350px;
    height: 30px;
    border-radius: 3%;
    border: none;

  }

  button{
    width: 350px;
    height: 30px;
  }

  .copyright{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
  }

}

@media screen and (max-width:470px){
  input{
    width: 300px;
    height: 30px;
    border-radius: 3%;
    border: none;

  }

  button{
    width: 300px;
    height: 30px;
  }

}
